*.jou
*.log
*.str
.gitignore.orig

2_bit_comparator.cache/
2_bit_comparator.hw/
2_bit_comparator.ip_user_files/
2_bit_comparator.runs/
2_bit_comparator.sim/


3bit_decode.cache/
3bit_decode.hw/
3bit_decode.ip_user_files/
3bit_decode.runs/
3bit_decode.sim/


blinky.cache/
blinky.hw/
blinky.ip_user_files/
blinky.runs/
blinky.sim/

moving_light.cache/
moving_light.hw/
moving_light.ip_user_files/
moving_light.runs/
moving_light.sim/


primeno_detector.cache/
primeno_detector.hw/
primeno_detector.ip_user_files/
primeno_detector.runs/
primeno_detector.sim/

mcprom.cache/
mcprom.hw/
mcprom.ip_user_files/
mcprom.runs/
mcprom.sim/


package_test.cache/
package_test.hw/
package_test.ip_user_files/
package_test.runs/
package_test.sim/

lab7_rotshift.cache/
lab7_rotshift.hw/
lab7_rotshift.ip_user_files/
lab7_rotshift.runs/
lab7_rotshift.sim/

